<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LTMorphingLabel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LTMorphingLabelDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LTMorphingLabelDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LTMorphingLabel_tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D73DFD001F4DB5CC00F84122</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D73DFD1F1F5056A700F84122</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D74AD96D195171E7009A2ACD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7934DC51A63AF1100AE04CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7D4B01E1A5E87D50087F83D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
